{% extends "base_manga.html" %}
{% block title %}Jujutsu Kaisen{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block shadow %}
<img src="{{url_for('static', filename='jujutsukaisencover.jpg')}}" class="card image-top" height="500px">
{% endblock %}

{% block h2 %}<h2>Jujutsu Kaisen</h2>{% endblock %}

{% block artist %}<th>Author</th>
<td>Akutami Gege</td>{% endblock %}

{% block td %}<th>Genre</th><td>Battle</td>{% endblock %}

{% block content %}
<p>Yuuji is a genius at track and field. 
    But he has zero interest running around in circles, he's happy as a clam in the Occult Research Club. 
    Although he's only in the club for kicks, 
    things get serious when a real spirit shows up at school!
     Life's about to get really strange in Sugisawa Town #3 High School!</p>
{% endblock %}