<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href= "{{ url_for('static' , filename='css/logincss.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <fieldset>
            <form>

                <label for="username_email">Username or Email:</label>
                <input type="text" id="username_email" pattern="[a-zA-Z0-9._%=-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required><br>

                <label for="password">Password</label>
                <input type="text" id="password" required>
            </form>
        </fieldset>
    </div>
</body>
</html>